.container1{
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 90px 0 90px 0;
    background-color: rgb(243, 241, 241); 
}
.container-1{
    display: flex;
    justify-content: center;
    height: 500px;
    width: 50%;
    box-shadow: 11px 12px 13px 12px rgb(207,207,207);
    padding-top: 30px;
    border-radius: 20px;
    background-color: #fff;
}
h1{
    font-weight: normal;
}
.image{
    padding-top: 28px;
    display: flex;
    justify-content: center;

}
.imagecontainer{
    background-color: rgb(223,221,221);
    border-radius: 150px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 110px;
    width: 110px;
}
.profile{
    height: 100px;
    width: 100px;
    border-radius: 130px;
}
input{
    height: 50px;
    /* justify-content: center; */
    width: 350px;
    border-radius: 60px;
    box-shadow: inset 0px 0px 25px 0px #888;
    border: none;
    outline: none;
    background-color: #fff;
}
.mail{
    height: 25px;
    width: 25px;
    position: absolute;
    padding: 14px 0 0 25px;
}
.name{
    padding-left: 90px;
    font-size: 15px;
}
.passwordinput{
    padding-top: 25px;
}
button{
    width: 440px;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(89, 87, 87);
    border: none;
    color: white;
    font-size: 20px;
    font-weight:bold;

}
button:disabled{
    background-color: rgb(214, 211, 211);
}
.loginbtn{
    padding-top: 25px;
}
.link{
    font-size: 20px;
    font-weight:400;
}
a{
    color: rgb(44, 44, 228);
    text-decoration: none;
}