*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
/* .container{
  display: flex;
} */
.main{
  width: 100%;
  padding: 20px;
  color: black;
}
.sidebar{
  background-color: black;
  color: #fff;
  height: 110vh;
  width: 280px;
  transition: all 0.5s;
  margin-bottom: -70%;
}
.top-section{
  /* display: flex; */
  align-items: center;
  padding: 20px 15px;

}
.logo{
  font-size: 20px;
}
.bars{
  font-size: 20px;

  /* display: flex; */
}
.link{
  display: flex;
  color: white;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
  background: #03AA03;
  color: rgb(253, 252, 252);
  transition: all 0.5s;
}
.active{
  background: #f6ac23;
  color: rgb(250, 248, 248);
}
.link, .link-text {
  font-size: 20px;

}

.header h1{
 width: 300px;
 margin-left: 300px;
 margin-top: -160px;
}

